@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

.form-content-right {
  font-family: "Poppins";
  color: white;
  border: 1px solid white;
  margin: auto;
  max-width: 350px;
}

.form-content-right h1 {
  color: #4bc6bd;
  padding: 5px;
  font-weight: lighter;
}

.form-content-right p {
  font-size: 1.2em;
  padding: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  color: #4bc6bd;
  border: 2px solid #4bc6bd;
  border-radius: 4px;
  background-color: inherit;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4bc6bd;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #4bc6bd;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #4bc6bd;
}
